@import "style";
h1{
  font: normal normal 800 44px/54px $font_2;
  @include m-575{
    font-size: 44px;
    line-height: 52px;
  }
}
h2 {
  font: normal normal 800 42px/50.4px $font_2;
  color: $font-color-3;
  @include m-767{
      font: normal normal 800 40px/42px $font_2 !important;
  }
  @include m-575{
      font: normal normal 800 31px/34px $font_2 !important;
  }
}
h3 {
  font: normal normal 800 32px/40.4px $font_2;
  color: $font-color-3;
  @include m-767{
      font: normal normal 600 30px/38px $font_2;
  }
  @include m-575{
      font: normal normal 600 24px/28px $font_2;
  }
}
h4 {
  font: normal normal 600 24px/28.6px $font_2;
  color: $font-color-3;
  @include m-575{
      font: normal normal 600 20px/24px $font_1;
  }
}
h5 {
  font: normal normal 600 22px/26.2px $font_2;
  color: $font-color-3;
}
h6 {
  font: normal normal 600 20px/24.2px $font_1;
  color: $font-color-3;
}
p {
  font: normal normal 600 18px/24px $font_1;
  color: $font-color-3;
  @include m-767{
      font-size: 16px;
  }
  @include m-575{
      font-size: 14px;
  }
}
span {
  font: normal normal 600 16px/20px $font_1;
}

.text-left {
text-align: left !important;
}
.text-right {
text-align: right !important;
}

.jainam-lite-page{
  padding-top: 118px;
  @include m-575{
    padding-top: 105px;
  }
}
.jainam-lite-banner-sec{
  padding: 80px 0;
  background: linear-gradient(180deg, #FFF8ED 0%, #E4F3F0 100%);
  @include m-1199{
    padding: 80px 0;
  }
  @include m-767{
    padding: 60px 0;
  }
  @include m-575{
    padding: 40px 0;
  }
  .jainam-lite-banner-inner{
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    h1{
      color:#0B0C0E;
    }
    p{
      font: normal normal 400 18px/26px $font_1;
      color: $font-color;
      margin: 16px 0 32px 0;
      @include m-575{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
    .btn{
      max-width: 180px;
      width: 100%;
      &:hover{
        background-color: #476D85;
      }
    }
  }
}
.commitment-sec{
  padding: 120px 0 ;
  @include m-1199{
    padding: 80px 0;
  }
  @include m-767{
    padding: 60px 0;
  }
  @include m-575{
    padding: 40px 0;
  }
  .commitment-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 94px;
    @include m-991{
      flex-direction: column;
      gap: 40px;
    }
    .commitment-inner-left{
      max-width: 492px;
      width: 100%;
      @include m-991{
        max-width: 100%;
      }
      h2{
        max-width: 450px;
        margin-bottom: 16px;
        @include m-991{
          max-width: 100%;
        }
      }
      p{
        font: normal normal 400 16px/24px $font_1;
        color: $font-color;
      }
    }
    .commitment-inner-right{
      max-width: 614px;
      width: 100%;
      .commitment-right-img{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 24px;
        img{
          max-width: calc(50% - 12px);
        }
        @include m-575{
          gap: 12px;
          img{
            max-width: calc(50% - 6px);
          }
        }
        div{
          display: flex;
          flex-direction: column;
          gap: 24px;
          max-width: calc(50% - 12px);
          width: 100%;
          @include m-575{
            gap: 12px;
            max-width: calc(50% - 6px);
          }
          img{
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
.features-sec{
  background-color: #1D1D1D;
  padding: 120px 0;
  @include m-1199{
    padding: 80px 0;
  }
  @include m-767{
    padding: 60px 0;
  }
  @include m-575{
    padding: 40px 0;
  }
  h2{
    text-align: center;
    color: $white;
  }
  .features-inner{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    @include m-1199{
      margin-top: 60px;
    }
    @include m-575{
      margin-top: 40px;
    }
    .features-inner-box{
      display: flex;
      flex-direction: column;
      max-width: 400px;
      width: 100%;
      padding: 40px 42px 43px 42px;
      color: $white;
      text-align: center;
      border-right: 1px solid #F5F8F91A;
      border-bottom: 1px solid #F5F8F91A;
      @include m-1439{
        max-width: 33.33%;
      }
      @include m-991{
        max-width: 50%;
      }
      @include m-575{
        max-width: 100%;
      }
      svg,img{
        max-width: 64px;
        max-height: 64px;
        margin: auto auto 45px auto;
      }
      h3{
        font: normal normal 600 22px/28px $font_1;
        color: $white;
        margin-bottom: 22px;
      }
      p{
        font: normal normal 400 16px/24px $font_1;
        color: $white;
        flex: 1;
      }
      &:nth-child(3n){
        border-right: 0;
        @include m-991{
          border-right: 1px solid #F5F8F91A;
        }
      }
      &:nth-child(2n){
        @include m-991{
          border-right: 0;
        }
      }
      &:nth-child(n+4){
        border-bottom: 0;
      }
      &:nth-child(n+7){
        border-top: 1px solid #F5F8F91A;
      }
      &:nth-child(4){
        @include m-991{
          border-bottom: 1px solid #F5F8F91A;
        }
      }
      @include m-575{
        border: 0 !important;
        border-bottom: 1px solid #F5F8F91A !important;
        &:last-child{
          border-bottom: 0 !important;
        }
      }
    }
  }
}
.download-section{
  padding: 120px 0;
  @include m-1199{
    padding: 80px 0;
  }
  @include m-767{
    padding: 60px 0;
  }
  @include m-575{
    padding: 40px 0;
  }
  .download-inner{
    background-image: url(../img/comfort-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px;
    text-align: center;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    @include m-575{
      padding: 40px;
    }
    h2{
      color: $white;
    }
    .btn{
      margin-top: 32px;
      background-color: $white;
      color: $font-color;
      font: normal normal 700 24px/29px $font_1;
      max-width: 182px;
      width: 100%;
      &:hover{
        background-color: $black;
        color: $white;
      }
      @include m-575{
        font-size: 18px;
        line-height: 22px;
        margin-top: 24px;
      }
    }
  }
}
.trader-feature-sec{
  .trader-feature-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    &.row-reverse{
      flex-direction: row-reverse;
    }
    @include m-991{
      &:first-child{
        margin-bottom: 60px;
      }
    }
    @include m-767{
      flex-direction: column;
      &.row-reverse{
        flex-direction: column;
      }
      &:first-child{
        margin-bottom: 40px;
      }
    }
    @include m-575{
      gap: 30px;
      &:first-child{
        margin-bottom: 30px;
      }
    }
    .trader-feature-left{
      max-width: 552px;
      width: 100%;
      h2{
        color: $font-color;
        margin-bottom: 40px;
        @include m-991{
          font-size: 35px;
          line-height: 42px;
          margin-bottom: 30px;
        }
        @include m-575{
          margin-bottom: 20px;
        }
      }
      ul{
        li{
          padding-left: 36px;
          font: normal normal 500 18px/26px $font_1;
          color: $font-color;
          position: relative;
          &:not(:last-child){
            margin-bottom: 24px;
            @include m-575{
              margin-bottom: 15px;
            }
          }
          &::before{
            content: '';
            position: absolute;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none"><rect x="0.75" y="0.76709" width="18.5" height="18.5" rx="9.25" fill="%232A948F"/><rect x="0.75" y="0.76709" width="18.5" height="18.5" rx="9.25" stroke="%232A948F" stroke-width="1.5"/><path d="M15 6.26709L8.125 13.1421L5 10.0171" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center;
            width: 20px;
            height: 24px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
        }
      }
    }
    .trader-feature-right{
      max-width: 600px;
      width: 100%;
    }
  }
}



.sec_faqs-jainam-lite{
  .contact-us-faq-inner{
    .faq_question_answer{
      .question{
        font: normal normal 600 16px/24px $font_1;
        color: $font-color;
        padding: 24px;
        @include m-575{
          padding-left: 16px;
        }
        &.active{
          padding-bottom: 12px;
        }
        &::after{
          height: 12px;
          background-position: center;
          top: 54%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          @include m-991{
            right: 15px;
          }
          @include m-575{
            right: 5px;
          }
        }
      }
      .answercont{
        .answer{
          padding: 0 24px 24px 24px;
          @include m-575{
            padding-left: 16px;
          }
          p{
            font: normal normal 400 14px/22px $font_1;
          }
        }
      }
    }
  }
}

.zero-brokerage-section {
	.brokerage-sec-inner{
		.brokerage-inner-left{
			h2 {
				span{
					font: normal normal 700 42px/60px $font_1;
					@include m-991{
						font-size: 36px;
						line-height: 52px;
					}
					@include m-767{
						font-size: 32px;
						line-height: 46px;
					}
					@include m-575{
						font-size: 24px;
						line-height: 32px;
					}
				}
			}
		}
	}
}
.yt-video-sec{
  padding: 120px 0;
  @include m-1199{
    padding: 80px 0;
  }
  @include m-767{
    padding: 60px 0;
  }
  @include m-575{
    padding: 40px 0;
  }
  .yt-video-inner{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    overflow: hidden;
    .yt-video-embed{
      position: relative;
      display: flex;
      iframe{
        @include m-991{
          height: 471px !important;
        }
        @include m-767{
          height: 300px !important;
        }
        @include m-575{
          height: 242px !important;
        }
      }
    }
  }
}

.video-slider-section{
  @include m-767{
    padding-bottom: 40px;
  }
  .video-slider-inner{
    margin-top: 60px;
    @include m-991{
      margin-top: 40px;
    }
    @include m-575{
      margin-top: 30px;
    }
    .jainam-award-slider{
      .slick-list.draggable{
        padding-right: 20%;
        @include m-575{
          padding-right: 0;
        }
      }
      .jainam-award-slide-inner{
        margin: 0 12px;
        overflow: hidden;
        @include m-575{
          margin: 0 4px;
        } 
        iframe{
          margin: auto auto 24px auto;
          border-radius: 16px;
          -webkit-border-radius: 16px;
          -moz-border-radius: 16px;
          -ms-border-radius: 16px;
          -o-border-radius: 16px;
        }
        h6{
          font: normal normal 600 16px/24px $font_1;
          margin-bottom: 12px;
        }
        span{
          font-weight: 400;
        }
      }
    }
  }
    
  button.slick-arrow {
    position: absolute;
    top: -98px;
    right: 0;
    width: 32px;
    height: 32px;
    background: url(../img/slider_arrow.svg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 0;
    filter: brightness(0) invert(0);
    cursor: pointer;
    @extend .d_flex_center;
    &.prev-arrow {
    background: url(../img/slider_arrow.svg) no-repeat;
    background-size: cover;
    background-position: center;
    right: 48px;
    transform: rotate(180deg);
    &:hover{
      transform: scale(1.3) rotate(180deg) !important;
      -webkit-transform: scale(1.3) rotate(180deg) !important;
      -moz-transform: scale(1.3) rotate(180deg) !important;
      -ms-transform: scale(1.3) rotate(180deg) !important;
      -o-transform: scale(1.3) rotate(180deg) !important;
    }
    @include m-767() {
      left: 40%;
    }
    }
    @include m-991{
      top: -80px;
    }
    @include m-767() {
    top: unset;
    bottom: -40px;
    left: 50%;
    }
  }
}
.jainam-lite-page{
  .sec_faqs {
    .faq_question_answer {
      margin-bottom: 16px;
    }
  }
}